*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
}
.mg-button {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}